<Files .env>
    Order allow,deny
    Deny from all
</Files>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(start|poll|callback)$ $1.php [L,QSA]